
<!DOCTYPE html>


<head>
    <title>MyCinema</title>
    <link rel="stylesheet" href="../StyleSheets/Login.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body>


    <div class="image-container"></div>
    <div class="flex-white-container"></div>
    <div class="white-contanier">


        <div class="title-container"> My Cinema</div>
        <div class="subtitle-container">Welcome back! Please login to your account.</div>
        <div class="login-container">

            <form method="post">

                <input type="text" id="username" placeholder="Username" name="username">
                <input type="password" id="password" placeholder="Password" name="password">

                <div class="checkbox-forgpass-container">
                    <div class="checkbox-container">
                        <input type="checkbox" id="RememberMe">
                        <label for="RememberMe"> Remember Me</label>

                    </div>

                    <div class="forgot-password-container" onclick='window.location = "@Url.Action("ForgotPassword", "Home")";'>
                        Forgot Password
                    </div>


                </div>

                <div class="button-container">
                    <button type="submit" class="button" onclick='window.location = "@Url.Action("ForgotPassword", "Home")";'>Login</button>

                    @if (TempData["Message"] != null)
                    {
                        @TempData["Message"].ToString();

                    }


                    <button class="button" onclick='window.location = "@Url.Action("Registration", "User")";'>Sign Up</button>
                </div>

            </form>
        </div>


    </div>
    <div class="flex-white-container"></div>
</body>

