@model IEnumerable<MyCinema.Models.Users> 


@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_MenuAdmin.cshtml";




}
<link href="/Content/timingfield/timingfield.css" type="text/css" rel="stylesheet" media="screen" />
<link media="screen" rel="stylesheet" type="text/css" href="/Content/admin-menu-ip.css">
<link media="screen" rel="stylesheet" type="text/css" href="/Content/admin-movies-ip.css">



<div class="main">
    <h2 class="title">Home</h2>

    <div class="card">
        <div class="card-body">

            <div class="display-information">
                <div class="total-users">
                    <p class="info-text">Total Users</p>
                    <p class="info-numbers">@ViewBag.TotalUsers</p>
                </div>
                <div class="total-movies">
                    <p class="info-text">Total Movies
                    <p class="info-numbers">@ViewBag.TotalMovies</p>
                </div>
                <div class="total-rooms">
                    <p class="info-text">Total Rooms</p>
                    <p class="info-numbers">@ViewBag.TotalRooms</p>
                </div>
                <div class="total-bookings">
                    <p class="info-text">Total Bookings
                    <p class="info-numbers">Coming soon</p>
                </div>
            </div>
            <div class="column-50">
                <div class="display-last-updates">
                    <div class="last-update-information">
                        <h2>Last five reservations</h2>
                        <p><img class="mini-image" src="../resources/images/john-doe.png"> Numele de utilizator</p>
                        <p><img class="mini-image" src="../resources/images/john-doe.png"> Numele de utilizator</p>
                        <p><img class="mini-image" src="../resources/images/john-doe.png"> Numele de utilizator</p>
                        <p><img class="mini-image" src="../resources/images/john-doe.png"> Numele de utilizator</p>
                        <p><img class="mini-image" src="../resources/images/john-doe.png"> Numele de utilizator</p>
                        <h2>Last updates</h2>
                        <div class="last-registered-user">
                            <img src="../resources/images/john-doe.png">
                            <p>
                                <a href="REDIRECT SPRE ADMIN USERS cu search pe numele utilizatorului(sa apara utlimul utilizator inregistrat primu)">Numele de utilizator</a> is the last
                                <mark class="purple">registered user</mark>
                            </p>
                        </div>
                        <div class="last-added">
                            <img src="../resources/images/cinema-room-1-1.jpg">
                            <p>
                                <a href="REDIRECT SPRE ADMIN ROOMS cu search pe camera(sa apara camera prima)">Red-Cinema-Room</a> is the last
                                <mark class="purple">added room</mark>
                            </p>
                        </div>
                        <div class="last-added">
                            @foreach (var item in Model)

                            {
                                if(item.UserId == ViewBag.LastUser)
                                {

                                }
                            }
                        <img src="../resources/images/Hellboy.jpg">
                            <p>
                                <a href="REDIRECT SPRE ADMIN MOVIES cu search pe film(sa apara filmul primu)">Hellboy</a> is the last
                                <mark class="purple">added movie</mark>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="display-right-information">
                    <div class="right-info">
                        <img class="right-image" src="../images/back.png">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

