@model MyCinema.Models.MyModel
@{
    ViewBag.Title = "Details";
}

<h2>Program</h2>

    <div class="body-main">
        <h1 id="program-title">Program</h1>
        <div class="programs">
            <div class="buttons-top">
                <button class="button-day">Monday</button>
                <button class="button-day">Tuesday</button>
                <button class="button-day">Wednesday</button>
                <button class="button-day">Thursday</button>
                <button class="button-day">Friday</button>
                <button class="button-day">Saturday</button>
                <button class="button-day">Sunday</button>
            </div>

            <div class="headers-table">
                <p id="header-movie">Movie</p>
                <p id="header-hours">Screening Hours</p>
            </div>
            @foreach (var id in ViewBag.data)
            {
                if (Model.Timetables.Find(id))
                {
                    
                    <div class="table-row">
                        <div class="column-left">
                            <div class="information-play"></div>
                            
                            <p>@Model.Movies.Find(id).Name</p>

                        </div>
                        <div class="column-right">
                            @foreach (var item in Model.Timetables)
                            {
                                if (id.MovieId == item.MovieId)
                                {
                                    <button class="button-hour">@item.StartTime</button>
                                }

                            }
                        </div>
                    </div>
                }
            }
        </div>
    </div>


