.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
  
}

.dropdown-content {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        text-decoration: none;
        display: inline-block;
    }

       

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}