@model MyCinema.Models.Timetable
@{
    ViewBag.Title = "BookTicket";
    Layout = "~/Views/Shared/_Menu.cshtml";
    TempData["matrix"] = Model.Matrix;
}



<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,500,600,700,700i" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="~/StyleSheets/custom-room.css" rel="stylesheet" />
<link href="~/StyleSheets/style.css" rel="stylesheet" />
<link href="~/StyleSheets/Program.css" rel="stylesheet" />
<title>IP</title>


<div class="main">
    <h2 class="title">Room Name</h2>

    <div class="card">
        <div class="card-body">
            <div class="room-view">
                <!-- 13 x 7 -->
                <table id="table" class="room-view-table">
                    @{


                        for (int i = 0; i < 13; i++)
                        {
                            <tr>
                                @for (int j = 0; j < 13; j++)
                                {


                                    if (Model.Matrix[i * 13 + j] == '0')
                                    {

                                        <td>


                                            <div class="chair free" onclick="showpopup(this)"></div>
                                        </td>
                                    }
                                    else
                                    {


                                        <td>
                                            <div class="chair booked" onclick="showpopup(this)"></div>
                                        </td>
                                    }




                                }
                            </tr>
                        }
                    }

                </table>
                <div class="room-view-legend">
                    <div class="chair free"></div> Free <br>
                    <div class="chair booked"></div> Booked <br>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="myModal">
        <div class="modal-content">
            <p class="p">Movie:</p>
            <input class="ir" type="text" value="@TempData["MovieName"]" readonly />

            <p class="p">Room:</p>
            <input class="ir" type="text" value="@TempData["RoomName"]" readonly />

            <div class="place">
                <p class="row">Row:</p>
                <input type="text" id="row1" class="ir" readonly />

                <p class="column">Column:</p>
                <input type="text" id="column" class="ic" readonly />

            </div>
            <p class="p">Price:</p>
            <input class="ir" type="text" value="@TempData["Price"]" readonly />

            <hr />
            <div class="buttons">
                <button class="button1" id="closebtn">close</button>
                <button class="button2" id="reservebtn">Book ticket</button>

            </div>
        </div>
    </div>

    <style>


        hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid #ccc;
            margin: 2em 0;
            padding: 0;
        }

        .p {
            font-size: 13px;
        }

        .parag {
        }

        .place {
            display: grid;
        }

        .row {
            font-size: 13px;
            grid-row: 1;
            grid-column: 1;
            margin-left: 1%;
        }

        .ir {
            background-color: #F0EFF5;
            width: 110%;
        }

        input[type=text], select, textarea {
            width: 102%;
            padding: 12px;
            border: 0.7px solid #ccc;
            border-radius: 4px;
            resize: vertical;
            height: 2%;
        }

        .column {
            font-size: 13px;
            grid-row: 1;
            grid-column: 2;
            grid-gap: 2px;
            margin-left: 10%;
        }

        .ic {
            background-color: #F0EFF5;
            grid-row: 2;
            grid-column: 2;
            width: 2%;
            margin-left: 10%;
        }

        .buttons {
            display: flex;
            margin-left: 50%;
            width: 300px;
        }

        .button2 {
            border-radius: 5px;
            background-color: #B4B2FB;
            color: white;
            font-size: 15px;
            padding: 5px 13px 5px 13px;
            border: 0.1px solid #8F8CAC;
            margin: 2px 0 2px 20px;
            height: 30px;
            font-size: 10px;
        }

        .button1 {
            border-radius: 5px;
            background-color: #9B98B6;
            color: white;
            font-size: 15px;
            padding: 5px 13px 5px 13px;
            border: 0.1px solid #8F8CAC;
            margin: 1px 0 2px 20px;
            height: 30px;
            font-size: 10px;
        }



        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 30px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 27%;
            height: 62%;
        }
    </style>


</div>

<script>
    function showpopup(btn) {
        var modal = document.getElementById("myModal");

        //var btn = document.getElementById("myBtn");

        var close = document.getElementById("closebtn");

        btn.onclick = function () {
            modal.style.display = "block";
        }

        close.onclick = function () {
            modal.style.display = "none";
        }
    }

</script>
<script>
    var table = document.getElementById("table"), rIndex, cIndex;
    for (var i = 0; i < table.rows.length; i++) {
        for (var j = 0; j < table.rows[i].cells.length; j++) {
            table.rows[i].cells[j].onclick = function () {
                rIndex = this.parentElement.rowIndex+1;
                cIndex = this.cellIndex + 1;
                console.log(rIndex + ' ' + cIndex);
                document.getElementById("row1").value = rIndex;
                document.getElementById('column').value = cIndex;
            }
        }
    }
</script>
<script>
    var btn = document.getElementById("reservebtn");
    btn.onclick = function () {
        var row = $('#row1').val();
        var column = $('#column').val();
        location.href = '@Url.Action("BookTicket2", "Timetables")/?row=' + row + '&&column=' + column;
    }

</script>




<script src = "https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity = "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin = "anonymous" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="assets/script.js"></script>


