@model IEnumerable<MyCinema.Models.Rooms>
   
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Menu.cshtml";
}





    <link rel="stylesheet" type="text/css" href="../StyleSheets/style.css">
    <link rel="stylesheet" type="text/css" href="../StyleSheets/Rooms.css">



        <div class="main">
            <h2 class="title">Cinema Rooms</h2>

            <div class="cinema-rooms-grid-container">

                @foreach (var item in Model)
                {
                <div class="cinema-room">
                    <h2  style="font-size:20px; text-align:center;"> @Html.DisplayFor(modelItem => item.RoomName) </h2>


                    <div class="slider-container w3-content w3-display-container">

                        @{
                        var base641 = Convert.ToBase64String(item.Image1);
                        var imgsrc1 = string.Format("data:image/gif;base64,{0}", base641);

                        }
                        <img src="@imgsrc1" style="width:300px;height:200px">

                       
                    </div>
                </div>

                }
            </div>






        </div>


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
        <script src="../Scripts/cinema-room.js"></script>


